@import './mixins/medias';
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

.container {
    max-width: 100%;
}
span{
    color: #F18F3E;
}
header {
    height: 767px;
    background-image: url('../images/bg-head-overlay.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .sur-titre{

        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 4.8px;
        color: white;
        margin-bottom: 13px;
        font-family: 'Open Sans', sans-serif;


    }

        h1{

            font-size: 113px;
            line-height: 120px;
            font-family: 'Unna', bold;
        }

    img{

        margin-top: 19px;
        width: 119px;
        height: 76px;
    }

    ul{

        margin-top: 51px;
    }
    
    li{
        font-size: 18px;
        margin-right: 30px;
        text-decoration: none;
        color: white;
        font-family: 'Open Sans', ;
        font-weight: 400;
        
    }
    

    .st_header{
        margin-top: 34px;
        margin-bottom: 34px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      
    }

    .section_content{

        margin-top: 115px;

        
}


}

h1 {
    font-size:113px;
    color: #ffffff;
    text-align: center;
    font-family: 'Unna', bold;
    margin-left: 388px;
    margin-right: 388px;
}

.food{

    img{
        margin-top: 84px;
        margin-bottom: 24px;
    }

    h2{
        margin-top: 84px;
        text-align: left;
        font-size: 36px;
        line-height: 43px;
        color: #000000;
        font-family: 'Unna', bold;
    }

    strong{

        margin-top: 25px;
        color: #000000;
        font-size: 24px;
        font-family: 'Unna', bold;
    }
    p{
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 51px;
        line-height: 24px;
        text-align: left;
        color: #707070;
        font-family: 'Open Sans', sans-serif;
    }
}

.Ingredients{


   img{

    height: 651px;
    margin-left: 0px;

   } 
    
    .background-color{
        background-color: #F2F2F2;
        width: 100%;
        height: 651px;
    }



    h3{

        font-size: 36px;
        margin-left: 81px;
        line-height: 43px;
        padding-top: 171px;
        color: #000000;
        font-size: 24px;
        font-family: 'Unna', bold;

    }


    p{
        padding-top: 35px;
        font-size: 16px;
        margin-right: 178px;
        margin-left: 81px;
        line-height: 22px;
        text-align: left;
        color: #707070;
        font-family: 'Open Sans', sans-serif;

    }

    .border{

     

        
    }

  

}


.food-2{



    .sur-titre{

        margin-top: 137px;
        margin-bottom: 24px;

    } 

    h3{

        line-height: 43px;
        color: #000000;
        font-size: 36px;
        font-family: 'Unna', bold;

    }

    p{
        
        font-size: 16px;
        margin-bottom: 84px;
        margin-top: 32px;
        line-height: 22px;
        color: #707070;
        font-family: 'Open Sans', sans-serif;

    }


}

.Menu{

    background-color: #F2F2F2; 

    h3{
        line-height: 43px;
        margin-top: 163px;
        color: #000000;
        font-size: 36px;
        font-family: 'Unna', bold;
    }

    .title{
        margin-top: 35px;

      span {
        font-size: 24px;
        line-height: 29px;
        font-family: 'Unna', bold;
        padding-right: 108px;
        }

    }

    h4{
        line-height: 29px;
        color: #000000;
        font-size: 24px;
        font-family: 'Unna', bold;
    }

    p{
        
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
        line-height: 22px;
        color: #707070;
        font-family: 'Open Sans', sans-serif;

    }

    img{
        width: 628px;
        height: 419px;
        margin-top: 88px;
        margin-bottom: 64px;
    }


}

.testimonial{

    background-image: url('../images/bg-full.jpg');
    width: 100%;


    .Background_Reviews{    

        
        background-color: #FFFFFF;
        margin-top: 128px;
        margin-bottom: 128px;
        border-radius: 10px;
        width: 1088px;
        height: 387px;
        opacity: 96%;

    }

    h3{

        margin-top: 61px;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        color: #000000;
        font-family: 'Unna', bold;

    }

    h4{
        line-height: 29px;
        margin-top: 104px;
        color: #000000;
        font-size: 24px;
        font-family: 'Unna', bold;
    }

    p{
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 10px;
        line-height: 22px;
        color: #707070;
        font-family: 'Open Sans', sans-serif;

    }

    img{

        width: 96px;
        height: 97px;
    }

  
}

footer{

    background-color: white;
    margin-top: 116px;

    p{
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 4.8px;
        color: #707070;
        margin-bottom: 13px;
        font-family: 'Open Sans', sans-serif;
    }
}

